
.CoursesList_card_container{
  display: flex;
  justify-content: center;
}

.CoursesList{
  padding: 30px;
}


.CoursesList_title{
  color: #0594e1;
}

.CoursesList_content{
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding:40px 40px ;
}

.Courses_short_description{
  font-size: 35px;
}

